*.iml
.idea/
lib_managed/
target/
src_managed/
search/project/plugins/project/
search/project/boot
project/boot/
project/plugins/project
*.log
*.log.*
.DS_Store
.buildpath
.cache
.project
.classpath
.metadata
data/testcluster*
testing/JMeter_testplans/*.csv
/*.sh
*.py[cod]
*.swp
.settings/
